.bg-dark {
    background-color: rgba(20, 20, 35, 0.8)!important;
}
img.logo {
    width: 4%;
}

form.form-inline.ml-auto {
    margin: 0!important;
}

.navbar-nav {
    margin: auto;
    font-size: 1.5vw;
}

div#napis {
    font-family: 'Shadows Into Light', cursive;
    font-size:10vw;
    letter-spacing: 1.8px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-top: 25vh;
    margin-bottom: 60vh;
}

img.obrazkyobdobia {
    width: 100%;
    position: relative;
}

.col-md-6 {
    border: 15px solid rgba(20,20,35,0.5);
    padding: 0px;
}


p.popisobrazkov:hover {
    opacity: 1;

}

body {
    background-image: url("img/photo-1483470561301-395323922c3c.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
    background-attachment: fixed;
    background-color: #464646;
}

a.nav-item.nav-link {
    margin: 0 0 0 9vw;
}

p.popisobrazkov {

    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3vw;
    font-family: 'Quicksand', sans-serif;
    color: white;
    opacity: 0.7;
    text-align: center;
    transition: transform .2s;
    transform: translate(-50%, -50%);

}

@media only screen and (max-width: 768px) {
    img.logo {
        width: 4vh;
    }

    input.form-control.mr-sm-2 {
        width: 75%;
        margin: auto;
    }


    div#napis {
        font-size:15vw;
    }

    .navbar-nav {
        font-size: 1.5vh;
    }

    a.nav-item.nav-link {
        margin: 3vh auto 3vh auto;
    }

    p.popisobrazkov {
        font-size: 5vh;
        opacity: 1;
    }


}
