

@media only screen and (min-width: 768px) {
    nav.navbar{

        background-image: url(../img/Rectangle_1.png);
        background-repeat: repeat-x;
        background-size: cover;
        min-height: 13vh;
        border-bottom: 1px solid rgba(255,255,255,0.4);
    }
}

#backToTop {
    color: black;
    font-size: 10vw;
    transition: font-size 1s;
}
i#backToTop:hover {
    font-size: 20vw!important;
}

/* fade ------------------------*/
.header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

.header #bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.apiContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
}

.apiContainer.blackbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

/* fade ------------------------*/
img.logo {
    width: 4%;
}

a.nav-link {
    font-size: 1vw;
}

a.nav-item.nav-link {
    margin: 0 0 0 9vw;
    color: #c3c3c3 !important;
    font-size: 1.5vw;
}

a.nav-item.nav-link:hover {
    margin: 0 0 0 9vw;
    color: white!important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1.5vw;
}

div#navbarCollapse {
    margin-left: 17vw;
    height: 9vh;
    min-width: 8vw;
}

.footer {
    background-color: rgb(8,9,12);
    width:100%;
    height:100px;
}
.footer-copyright.text-center.py-3 {
    color: white;
}

.container.col-md-12.align-content-center {
    padding: 0;
}
.minVH {
    min-height: 78vh;
}

body {
    min-height: 100vh;
}

.login {
    color: white;
}

.postsText {
    color: rgb(150, 160, 200);
    font-size: 1.2rem;
}

.postTitle {
    color: rgb(238, 238, 238);
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
}

.darkColor {
    background-color: #424346;
    color: #B0B0B0;
}
/* users */
td {
    color: wheat;
}

th {
    color: antiquewhite;
    background-color: #554b38;
}

/* homepage */
div#napis {
    font-family: 'Shadows Into Light', cursive;
    font-size:10vw;
    letter-spacing: 1.8px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}
div#napis p {
    text-align: center;
}

.stromy {
    background-image: url(../img/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
    background-attachment: scroll;
    padding-bottom: 57vh;
    padding-top: 26vh;
}

.homeTitle {
    padding-top: 5vh;
    color: #1b1e21;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 5vw;
}
/*  Add post */
.addPost {
    background-color: #090909;
    height: 60vh;
    padding-top: 5vw;
}

.iconFa {
    font-size: 3vh;
}

.divider {
    border-bottom: 1px solid rgba(29, 29, 29, 0.6);
}
.text-date {
    font-size: 0.8rem;
    color: #006dbc;
}
.blackbar {
    background-color: black;
    width: 100%;
    min-height: 25vh;
    margin: 0;
    padding: 0;

}

.firstPost {
    background-color: white;
    color: black;
}

button.btn.darkColor.col-2.offset-5 {
    padding: 2vw;
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}


.apiNightSky {
    min-height: 600px;
}

iframe {
    border: 5px solid #ffffff;
}
iframe {
    width:1000px;
    height:500px;
}


/* constellations images */

.pt-5.minVH {
    background: black;
    padding-bottom: 7vh;
}
.kontajner {
    position: relative;
    width: 50%;
}

.imageConst {
    display: block;
    width: 100%;
    height: auto;
}

.imgOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255,255,255);
}

.kontajner:hover .imgOverlay {
    opacity: 0.6;
    cursor: pointer;
}

.col-6.offset-3.appendDiv {
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #faebd7;
    margin-top: 4vh;
    padding: 2vh;
    margin-bottom: 6vh;
}

.textInImg{
    color: black;
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h3.starsText.text-center.p-3.m-2 {
    font-size: 3vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: antiquewhite;
}
/* constellations images end -------- */

@media only screen and (max-width: 768px) {
    a.nav-item.nav-link {
        margin: 0 0 0 0vw!important;
        color: #c3c3c3 !important;
        font-size: 3vh!important;
    }

    a.nav-link {
        margin: 0 0 0 0vw!important;
        color: #c3c3c3 !important;
        font-size: 3vh!important;
    }

    nav.navbar{
        position: fixed;
        top: 0;
        background-color: black;
        background-size: cover;
        opacity: 0.8;
        border-bottom: 1px solid rgba(255,255,255,0.4);
        z-index: 1000;
    }

    div#navbarCollapse {
        margin: 0vh 0vh 0vh 0vh;
        min-height: 50vh;
        min-width: 4vh;
        text-align: center;
    }

    canvas#starmapper_inner {
        width: 250px!important;
        height: 300px!important;
    }

    .apiNightSky {
        min-height: 600px;
    }
    .pb-5, .py-5 {
     padding-bottom: 0;
    }

    .pt-5, .py-5 {
        padding-top: 0;
    }
    .offset-3 {
        margin-left: 0;
    }
    .col-6 {
        flex: 0 0 0;
        max-width: 0;
    }

    .pt-5.pb-5.row.col-6.offset-3.apiNightSky {
        padding: 0;
        margin-left: 7vw;
    }

    a.btn.bg-dark.login {
        width: 100%;
    }
    .titleResp {
        text-align: center!important;
        justify-content: normal!important;
    }

    .col-4.text-center {
        margin-left: 18vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .iconFa {
        font-size: 6vh;
    }

    i.far.fa-minus-square.login.iconFa {
        font-size: 6.5vh;
    }
    .col-1 {
        padding: 0;
        margin-right: 27px;
    }

    img.roundedCustom.col-md-12 {
        padding: 0;
    }
/* const   --------------------------------- */
    .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .textInImg {
        font-size: 8vh;
    }
    .col-6.offset-3.appendDiv {
        font-size: 2.5vh;
        max-width: 100%!important;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }
}

